**/node_modules
.git
.gitignore
*.log
*.tsbuildinfo
**/dist
**/build
**/coverage
*.env
*.DS_Store
*.pem
npm-debug.log
tests
.vscode
examples
*.md
!pnpm-lock.yaml
.idea
Thumbs.db
**/test-output
**/reports
**/tmp
**/frontend/.cache
**/backend/.cache