[submodule "audityzer-core"]
	path = audityzer-core
	url = https://github.com/romanchaa997/Audityzer.git
	ignore = all
	
[submodule "audityzer-platform"]
	path = audityzer-platform
	url = https://github.com/romanchaa997/Audityzer.git
	ignore = all
