# Graph Protocol
GRAPH_API_KEY=
GRAPH_ACCESS_TOKEN=

# Alchemy
ALCHEMY_WS_KEY=
ALCHEMY_SEPOLIA_KEY=

# Contract Addresses
AUDITYZER_ADDR=
DEPLOYER_PRIVATE_KEY=

# RPC
OP_MAINNET_RPC=https://mainnet.optimism.io
OPTIMISTIC_ETHERSCAN_API_KEY=

# Subgraph
SUPERFLUID_OP_SUBGRAPH_ID=
